@font-face{
    font-family:insta;
    src:url(../fonts/insta.eot?7949684);
    src:url(../fonts/insta.eot?7949684#iefix) format('embedded-opentype'),
    url(../fonts/insta.woff?7949684) format('woff'),
    url(../fonts/insta.ttf?7949684) format('truetype'),
    url(../fonts/insta.svg?7949684#fontello) format('svg');}

html,body{
    font-family: Calibri, san-serif;
    height:100%;
    overflow:visible;
    margin:0;
    padding:0;
}
li, ol {
  list-style-type: none;
}
[class*=" icon-"]:before, [class^=icon-]:before {
  font-family: insta;
  font-style: normal;
  font-weight: 400;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
}
.icon-search:before{content:'\e803'}
.icon-plus-circled:before{content:'\e817'}
.icon-minus-circled:before{content:'\e81a'}
.icon-ccw:before{content:'\e88f'}
.icon-cancel:before{content:'\e813'}
.icon-check:before{content:'\e812'}
.result{
  width: 735px;
  margin: 0 auto;
}
.result___search__list > li{
  height: 85px
}
.result___search__list > li > img{
    width: 70px;
  border-radius: 50%;
  float: left
}
.result___search__list > li > .info{
  float: left;
  margin-left: 20px;
}
.result___search__list > li > .info > p.username{
  color: #486881;
  font-size: 26px;
  margin: 0;
}
.result___search__list > li > .info > p.name{
  color: #b6b5b8;
  margin: 0;
  font-size: 26px;
}
.result___form{
  width: 64%;
  margin: 0 auto;
  margin-bottom: 35px;
}
.result___form input{
  -webkit-border-radius: 50px;
  border-radius: 50px;
  height: 58px;
  width: 100%;
  padding-left: 70px;
  padding-right: 50px;
  background-color: #FDFDFD;
  border: 1px solid #000000;
  color: #373737;
  font-size: 39px;
}
.result___form i{
  position: absolute;;
  font-size: 51px;
}

.users__photo{
  width: 980px;
  margin: 0 auto;
}
.users__block{
  display: table;
  padding-bottom: 77px;
}
.users__list{
  margin: 0;
  padding: 10px 30px;
}
.users__list_photo {
  height: 170px;
  width: 170px;
  float:left;
  padding: 7px;
}
.users__list_photo > img{
  height: 170px;
  width: 170px;
}

.users__info{
  padding: 0px 34px;
  height: 135px;
  float: left;
    width: 45%;
}
.users__info > div > img{
  border-radius: 50%;
  width: 110px;
  float:left;
}
.users__info > div > .info{
  float: left;
  margin-left: 20px;
}
.users__info > div > .info >h2{
  margin-top: 2px;
  margin-bottom: 10px;
}
.users__info > div > .info > .follow{
background-color: #517fa4;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  width: 155px;
  display: block;
  margin-bottom: 5px;
}
.users__counts{
  float: right;
  padding: 0px 55px;
  height: 135px;
}
.users__counts .selected{
  background: #26a852;
}
.users__counts .selected p.changer{
  font-size: 1.9em;
  margin: 0;
  font-weight: bold;
}
.users__counts .selected p.photer{
  font-size: 1.4em;
  margin-top: 24px;
  font-weight: bold;
  margin-left: 60px;
  display: block;
  position: absolute;
}
.counter__result{
    font-size: 5.2em;
  margin-top: -16px;
  display: block;
  position: absolute;
}
.users__counts .sum{
    background: #235E77;
}
.users__counts > div{
  float: left;
  width: 120px;
  height: 110px;
  margin-left: 10px;
  padding: 10px;
}
.users__counts .sum p.summer{
  font-size: 1.9em;
  margin: 0;
  font-weight: bold;
}
.users__counts .sum span.rubler{
    font-size: 5.2em;
  margin-top: -16px;
  display: block;
  position: absolute;
}
.amount__result{
    font-size: 5.2em;
  margin-top: -16px;
    margin-left: 40px;
  display: block;
  position: absolute;
}
#counter__block {
  display: none;
  position: absolute;
  height: 159px;
  width: 158px;
  border: 6px solid #00a1e3;
}
#counter__block.active {
  display: block;
}

.counter__block__bottom{
  position: absolute;
  bottom: 0;
  height: 35px;
  background: #00a1e3;
  z-index: 4;
  width: 100%;
}
.counter__block__top{
  position: absolute;
  top: 0;
  height: 35px;
  background: #00a1e3;
  z-index: 4;
  width: 100%;
}
.counter__block__top p {
  margin: 0px;
  text-align: center;
  color: white;
  font-size: 23px;
}
.counter__block__bottom p {
   margin: 7px 0px;
  text-align: center;
  color: white;
  font-size: 23px;
}

.footer{
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 5;
  height: 80px;
  width: 100%;
}
.footer__content{
  width: 910px;
  margin: 0 auto;
  height: 80px;
  padding: 31px 0;
  background: rgb(232, 232, 232);
}
.footer__back{
  background: #C8325A;
  margin-left: 30px;
  color: white;
  padding: 18px 41px;
  border-radius: 20px;
}
.footer__reset{
  background: #2499ca;
  margin-left: 185px;
  color: white;
  padding: 18px 41px;
  border-radius: 20px;
}
.footer__next{
  background: #319548;
  margin-left: 185px;
  color: white;
  padding: 18px 41px;
  border-radius: 20px;
}
.ngdialog-content{
  width: 600px;
  border-radius: 0;
  padding: 0;
}
/***popup foto settings*/
@-webkit-keyframes ngdialog-flyin {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes ngdialog-flyin {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes ngdialog-flyout {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}

@keyframes ngdialog-flyout {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}

.ngdialog.ngdialog-theme-photo {
  padding-bottom: 160px;
  padding-top: 160px;
}

.ngdialog.ngdialog-theme-photo.ngdialog-closing .ngdialog-content {
  -webkit-animation: ngdialog-flyout .5s;
  animation: ngdialog-flyout .5s;
}

.ngdialog.ngdialog-theme-photo .ngdialog-content {
  -webkit-animation: ngdialog-flyin .5s;
  animation: ngdialog-flyin .5s;
  background: white;
  color: #444;
  font-family: 'Helvetica',sans-serif;
  font-size: 1.1em;
  line-height: 1.5em;
  margin: 0 auto;
    top: -100px;
  max-width: 100%;
  padding: 5px;
  position: relative;
  width: 600px;
}

.ngdialog.ngdialog-theme-photo .ngdialog-close {
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: -35px;
  margin-top: -23px;
}

.ngdialog.ngdialog-theme-photo .ngdialog-close:before {
  background: transparent;
  border-radius: 3px;
  color: #bbb;
  content: '\00D7';
  font-size: 150px;
  font-weight: 400;
  height: 30px;
  line-height: 26px;
  position: absolute;
  right: 3px;
  text-align: center;
  top: 3px;
  width: 30px;
}

.ngdialog.ngdialog-theme-photo .ngdialog-close:hover:before,
.ngdialog.ngdialog-theme-photo .ngdialog-close:active:before {
  color: #777;
}

.ngdialog.ngdialog-theme-photo .ngdialog-message {
  margin-bottom: .5em;
}

.ngdialog.ngdialog-theme-photo .ngdialog-input {
  margin-bottom: 1em;
}

.ngdialog.ngdialog-theme-photo .ngdialog-input textarea,
.ngdialog.ngdialog-theme-photo .ngdialog-input input[type="text"],
.ngdialog.ngdialog-theme-photo .ngdialog-input input[type="password"],
.ngdialog.ngdialog-theme-photo .ngdialog-input input[type="email"],
.ngdialog.ngdialog-theme-photo .ngdialog-input input[type="url"] {
  background: #fff;
  border: 0;
  border-radius: 3px;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  margin: 0 0 .25em;
  min-height: 2.5em;
  padding: .25em .67em;
  width: 100%;
}

.ngdialog.ngdialog-theme-photo .ngdialog-input textarea:focus,
.ngdialog.ngdialog-theme-photo .ngdialog-input input[type="text"]:focus,
.ngdialog.ngdialog-theme-photo .ngdialog-input input[type="password"]:focus,
.ngdialog.ngdialog-theme-photo .ngdialog-input input[type="email"]:focus,
.ngdialog.ngdialog-theme-photo .ngdialog-input input[type="url"]:focus {
  -webkit-box-shadow: inset 0 0 0 2px #8dbdf1;
  box-shadow: inset 0 0 0 2px #8dbdf1;
  outline: none;
}

.ngdialog.ngdialog-theme-photo .ngdialog-buttons {
  *zoom: 1;
}

.ngdialog.ngdialog-theme-photo .ngdialog-buttons:after {
  content: '';
  display: table;
  clear: both;
}

.ngdialog.ngdialog-theme-photo .ngdialog-button {
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  float: right;
  font-family: inherit;
  font-size: .8em;
  letter-spacing: .1em;
  line-height: 1em;
  margin: 0 0 0 .5em;
  padding: .75em 2em;
  text-transform: uppercase;
}

.ngdialog.ngdialog-theme-photo .ngdialog-button:focus {
  -webkit-animation: ngdialog-pulse 1.1s infinite;
  animation: ngdialog-pulse 1.1s infinite;
  outline: none;
}

@media (max-width: 568px) {
  .ngdialog.ngdialog-theme-photo .ngdialog-button:focus {
    -webkit-animation: none;
    animation: none;
  }
}

.ngdialog.ngdialog-theme-photo .ngdialog-button.ngdialog-button-primary {
  background: #3288e6;
  color: #fff;
}

.ngdialog.ngdialog-theme-photo .ngdialog-button.ngdialog-button-secondary {
  background: #e0e0e0;
  color: #777;
}
.ngdialog-overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.91);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  -webkit-animation: ngdialog-fadein .5s;
  animation: ngdialog-fadein .5s;
}
/***end popup photo settings*/
/*popup photo*/
.users__photo__popup{
  text-align: center;
}
.info__photo__popup__icon{
  position: absolute;
  margin-left: 24%;
  margin-top: 17px;
}
.users__photo__popup .title{
  position: absolute;
  color: white;
  top: -58px;
  font-size: 26px;
}
.info__photo__popup{
  width: 450px;
  margin: 0 auto;
  text-align: left;
}
.info__photo__popup p{
  margin: 3px 0;
}
.info__photo__popup__icon a{
  width: 80px;
  height: 76px;
  float: left;
  display: block;
  background: url(../img/icon.png);
}
.info__photo__popup__icon a.like_count{
  background-position: -1px -74px;
}
.info__photo__popup__icon a.created_time{
  background-position: -107px -74px;
}
.info__photo__popup__icon a.geo{
  background-position: -194px -74px;
}
.info__photo__popup__icon a.signature{
  background-position: -288px -76px;
}
.info__photo__popup__icon a.like_count.active{
  background-position: 0px 0px;
}
.info__photo__popup__icon a.created_time.active{
  background-position: -103px 1px;
}
.info__photo__popup__icon a.geo.active{
  background-position: -194px -1px;
}
.info__photo__popup__icon a.signature.active{
  background-position: -287px 0px;
}
/*end popup photo*/
/***popup order settings*/
@-webkit-keyframes ngdialog-flyin {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes ngdialog-flyin {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes ngdialog-flyout {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}

@keyframes ngdialog-flyout {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}

.ngdialog.ngdialog-theme-order {
  padding-bottom: 160px;
  padding-top: 160px;
}

.ngdialog.ngdialog-theme-order.ngdialog-closing .ngdialog-content {
  -webkit-animation: ngdialog-flyout .5s;
  animation: ngdialog-flyout .5s;
}

.ngdialog.ngdialog-theme-order .ngdialog-content {
  -webkit-animation: ngdialog-flyin .5s;
  animation: ngdialog-flyin .5s;
  background: white;
  color: #444;
  border-radius: 10px;
  font-family: 'Helvetica',sans-serif;
  font-size: 1.1em;
  line-height: 1.5em;
  margin: 0 auto;
    top: -130px;
  max-width: 100%;
  position: relative;
  width: 670px;
}

.ngdialog.ngdialog-theme-order .ngdialog-close {
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: -35px;
  margin-top: -23px;
}

.ngdialog.ngdialog-theme-order .ngdialog-close:before {
  background: transparent;
  border-radius: 3px;
  color: #bbb;
  content: '\00D7';
  font-size: 150px;
  font-weight: 400;
  height: 30px;
  line-height: 26px;
  position: absolute;
  right: 3px;
  text-align: center;
  top: 3px;
  width: 30px;
}

.ngdialog.ngdialog-theme-order .ngdialog-close:hover:before,
.ngdialog.ngdialog-theme-order .ngdialog-close:active:before {
  color: #777;
}

.ngdialog.ngdialog-theme-order .ngdialog-message {
  margin-bottom: .5em;
}

.ngdialog.ngdialog-theme-order .ngdialog-input {
  margin-bottom: 1em;
}

.ngdialog.ngdialog-theme-order .ngdialog-input textarea,
.ngdialog.ngdialog-theme-order .ngdialog-input input[type="text"],
.ngdialog.ngdialog-theme-order .ngdialog-input input[type="password"],
.ngdialog.ngdialog-theme-order .ngdialog-input input[type="email"],
.ngdialog.ngdialog-theme-order .ngdialog-input input[type="url"] {
  background: #fff;
  border: 0;
  border-radius: 3px;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  margin: 0 0 .25em;
  min-height: 2.5em;
  padding: .25em .67em;
  width: 100%;
}

.ngdialog.ngdialog-theme-order .ngdialog-input textarea:focus,
.ngdialog.ngdialog-theme-order .ngdialog-input input[type="text"]:focus,
.ngdialog.ngdialog-theme-order .ngdialog-input input[type="password"]:focus,
.ngdialog.ngdialog-theme-order .ngdialog-input input[type="email"]:focus,
.ngdialog.ngdialog-theme-order .ngdialog-input input[type="url"]:focus {
  -webkit-box-shadow: inset 0 0 0 2px #8dbdf1;
  box-shadow: inset 0 0 0 2px #8dbdf1;
  outline: none;
}

.ngdialog.ngdialog-theme-order .ngdialog-buttons {
  *zoom: 1;
}

.ngdialog.ngdialog-theme-order .ngdialog-buttons:after {
  content: '';
  display: table;
  clear: both;
}

.ngdialog.ngdialog-theme-order .ngdialog-button {
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  float: right;
  font-family: inherit;
  font-size: .8em;
  letter-spacing: .1em;
  line-height: 1em;
  margin: 0 0 0 .5em;
  padding: .75em 2em;
  text-transform: uppercase;
}

.ngdialog.ngdialog-theme-order .ngdialog-button:focus {
  -webkit-animation: ngdialog-pulse 1.1s infinite;
  animation: ngdialog-pulse 1.1s infinite;
  outline: none;
}

@media (max-width: 568px) {
  .ngdialog.ngdialog-theme-order .ngdialog-button:focus {
    -webkit-animation: none;
    animation: none;
  }
}

.ngdialog.ngdialog-theme-order .ngdialog-button.ngdialog-button-primary {
  background: #3288e6;
  color: #fff;
}

.ngdialog.ngdialog-theme-order .ngdialog-button.ngdialog-button-secondary {
  background: #e0e0e0;
  color: #777;
}
.ngdialog-overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.91);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  -webkit-animation: ngdialog-fadein .5s;
  animation: ngdialog-fadein .5s;
}
/***end popup order settings*/
/*****order popup*/
.order__block_item{
  background: white;
  float: left;
  padding: 20px 20px;
  margin-right: 37px;
  margin-left: 32px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  position: relative;
}
.order__block{
  display: table;
  width: 100%;
  padding: 45px 10px;
  text-align: center;
  background: #2b2929;
}
.order h3{
  text-align: center;
  font-size: 2em;
  margin: 3px 15px;
  padding: 25px 10px;
}
.order .amount{
  background: #fff282;
  padding-left: 150px;
  padding: 20px 0 10px 150px;
}
.order .amount h2{
  margin: 0;
  font-weight: normal;
  margin-bottom: 10px;
}
.order .print{
  padding: 39px 0;
  text-align: center;
}
.order .print a{
  background: #319548;
  color: white;
  padding: 15px 41px;
  border-radius: 20px;
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
}
.info__order__block_item{
  width: 180px;
  font-size: 0.6em;
  text-align: left;
  line-height: 1.7em;
}
.info__order__block_item p{
  margin:0;
}

.order-close {
  background: url(../img/close.png);
  cursor: pointer;
  margin-right: -64px;
  margin-top: -32px;
  font-weight: 400;
  height: 60px;
  line-height: 26px;
  position: absolute;
  right: 3px;
  text-align: center;
  top: 3px;
  width: 60px;
}
/*end order popup*/