<posts posts="vm.posts" ng-show="vm.posts && vm.posts.length"></posts>

<div class="result">

<div  ng-controller="IndexController as vm">
<form novalidate class="result___form">
   <i class="icon-search"></i>
   <input type="text" ng-keyup="vm.Enter(search)" ng-model="search" /><br />
</form>

<div class="result___search">
<ul class="result___search__list">
        <li ng-repeat="item in vm.items" data-id="{{item.id}}" ng-click="goto(hash+'/photos/'+item.id)">
          <img ng-src="{{item.profile_picture}}" alt="{{item.username}}">
          <div class="info">
            <p class="username">{{item.username}}</p>
            <p class="name">{{item.full_name}}</p>
          </div>
        </li>
      </ul>
</div>

</div>

</div>