<div class="order">
<h3>К печати: 2 фото</h3>

<div class="order__block">
        <div id="order__block_item" ng-repeat="order in OrderList" class="order__block_item " data-is="{{order.id}}">
            <a ng-click="RemoveOrderListPopup(order.id)" class="order-close"></a>
            <img width='180'  ng-src="{{order.url}}" alt="">
            <div class="info__order__block_item">
	            <p ng-show="order.created_time" class="created_time">{{order.created_time}}</p>
	            <!--<p ng-show="order.like_count" class="geo">{{item.username}} {{recent.signature}}</p>-->
	            <p ng-show="order.signature" class="signature">{{order.signature}}</p>
	            <p ng-show="order.like_count" class="like_count">{{order.like_count}} отметок "Нравится"</p>
            </div>
        </div>
</div>	

<div class="amount">
	<h2>Сумма печати: <b><span>50</span> руб.</b></h2>
	<h2>Внесено денег: <b><span>50</span> руб.</b></h2>
</div>
<div class="print">
<a ng-click="">Печать</a>
</div>

</div>