<div class="users__photo" ng-controller="PhotosController as vm">

<div class="users__info">
<div ng-repeat="item in vm.users" data-id="{{item.id}}" ng-click="goto(hash+'/photos/'+item.id)">
          <img ng-src="{{item.profile_picture}}" alt="{{item.username}}">
          <div class="info">
            <h2 class="name" ng-if="item.full_name">{{item.full_name}}</h2>
            <h2 class="name" ng-if="!item.full_name">{{item.username}}</h2>
            <ng-pluralize class="follow" count="{{item.followed_by}}" when="FollowedForms"></ng-pluralize>
            <ng-pluralize class="follow" count="{{item.follows}}" when="FollowsForms"></ng-pluralize>
          </div>
</div>
</div>

<div class="users__counts">
  <div class="selected">
    <p class="changer">Выбрано</p>
    <span class="counter__result">0</span>
    <p class="photer">ФОТО</p>
  </div>
  <div class="sum">
    <p class="summer">Сумма</p>
    <span class="rubler">₽</span>
    <span class="amount__result">0</span>
  </div>
</div>

<div class="clear:both"></div>

<div class="users__block">
<ul class="users__list">
    <li class="users__list_photo" ng-repeat="photo in vm.photos" data-id="{{photo.id}}" ng-click="glick(photo.id)">
        <div id="counter__block" class="counter__block " data-is="{{photo.id}}">
            <div class="counter__block__top">
              <p ng-click="clickToOpen(photo.id);$event.stopPropagation()">Настроить фото</p>
            </div>
            <div class="counter__block__bottom">
              <p>Кол-во <i ng-click="glick(photo.id,plus,'minus')" class='icon-minus-circled'></i><span class="counter"> 1 </span><i ng-click="glick(photo.id,'plus')" class='icon-plus-circled'></i></p>
            </div>
        </div>
        <img ng-src="{{photo.url}}" alt="">
    </li>
</ul>
</div>

<div class="footer">
  <div class="footer__content">
<a class="footer__back"><i class="icon-cancel"></i> НАЗАД</a>
<a ng-click="reset()" class="footer__reset"><i class="icon-ccw"></i> СБРОСИТЬ</a>
<a ng-click="Next()" class="footer__next"><i class="icon-check"></i> ДАЛЕЕ</a>
  </div>
</div>

</div>