
<div class="users__photo__popup" ng-controller="PhotosController as vm">
<p class="title">Это фото выбрано</p><p style="display:none" ng-click="clickToOpenNext(recent.id)">Настроить фото</p>
<img width="450" ng-src="{{recent.url}}" alt="">
<div class="info__photo__popup">
	<p class="created_time">{{recent.created_time}}</p>
	<!--<p class="geo">{{item.username}} {{recent.signature}}</p>-->
	<p class="signature">{{recent.signature}}</p>
	<p class="like_count">{{recent.like_count}} отметок "Нравится"</p>
</div>

<div class="info__photo__popup__icon">
	<a ng-class="recent.like_count ? 'like_count active' :'like_count'"></a>
	<a ng-class="recent.created_time ? 'created_time active' :'created_time'"></a>
	<a ng-class="recent.geo ? 'geo active' :'geo'" ></a>
	<a ng-class="recent.signature ? 'signature active' :'signature'"></a>
</div>

</div>	
 